.dice-form {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background:  #fff;
    border-radius: 5px;
    border:  1px solid #ddd;
}

.dice-form h2 {
    font-size: 32px;
}

.dice-form p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

.dice-input {
    margin: 20px auto 0;
    border-radius: 5px;
    border:  1px solid #272C34;
    padding-bottom: 20px;
}

.dice-input h3 {
    height: 36px;
    background: #272C34;
    color: #fff;
    font-weight: bold;    
    font-size:  16px;
    text-decoration: node;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-input input {
    margin-left: 5%;
    margin-right: 5%;
    height: 36px;
    width: 90%;
    font-size:  16px;
}

.dice-input select {
    margin-left: 5%;
    margin-right: 5%;
    height: 36px;
    width: 90%;
    font-size:  16px;
}

.dice-input button {
    margin: 20px auto 0;
    height: 36px;
    width: 142px;
    border-radius: 5px;
    border: 2px solid #272C34;
    background: node;
    color: #272C34;
    font-weight: bold;    
    font-size:  16px;
    text-decoration: node;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.dice-input button:hover {
    background: #272C34;
    color: #fff;
}